[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
psycopg2 = "*"
autopep8 = "*"

[packages]
django = "==3.0.8"
python-decouple = "==3.1"
django-crispy-forms = "*"
pillow = "*"

[requires]
python_version = "3.8"
