/* html,
body {
    overflow-x: hidden;
} */

* {
    font-family: 'Roboto', sans-serif;
    font-display: swap;
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    background-color: #fff !important;
}

p {
    line-height: 140%;
}

h2,
h3,
h4,
h5,
h6,
a {
    letter-spacing: .04rem;
    line-height: 140%;
}

.p-font-style {
    font-size: .85em;
    font-weight: 300;
    /* font: 14px/18px "Roboto",sans-serif; */
}

.h5-font-style {
    font-size: 1.1em;
    font-weight: 300;
}

.bg-light-brown {
    background-color: #161637;
}

.text-light-brown {
    color: #161637;
}

.text-shade-of-blue {
    color: #20123A;
}

.text-deep-blue {
    color: #003;
}

button {
    outline: none !important;
    border: none;
    background-color: transparent;
}

.navbar {
    background-color: #D5F3FF;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin-bottom: 10px !important;
}

.hamburger-wrapper {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    /* background-color: #FFF5DA; */
    /* background-color: #E6F8FF; */
    background-color: #D5F3FF !important;
    /* border: .5px solid #161637 !important; */
    transition: background-color 300ms ease-in;
}

.hamburger-wrapper>div {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-end;
    margin: 1px;
    min-height: 23px;
}

.hamburger-wrapper>div:nth-of-type(2) {
    justify-content: center;
    align-items: center;
}

.hamburger-wrapper>div>span {
    width: 18px;
    height: 2px;
    display: block;
    margin: 1px;
    border-radius: 8px;
}

.hamburger-wrapper>div>span:nth-of-type(2) {
    width: 13px;
}

.hamburger-wrapper div>span:nth-of-type(3) {
    width: 8px;
}

.cart-items-quantity {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #2096ff;
    background: #007BFF;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    top: -0.4em;
    left: .85em;
}

.search-box-wrapper input {
    background-color: #E6F8FF !important;
    border-left: .5px solid #161637 !important;
    border-bottom: .5px solid #161637 !important;
    border-top: .5px solid #161637 !important;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    min-width: 280px !important;
}

#ajaxLoginErrorDiv,
#ajaxSignUpErrorDiv {
    display: none;
}

.ajax-field-validation-error-message {
    /* display: none; */
    opacity: 0;
    font-size: .75em;
    height: 50px;
}


/* #ajaxLogOutDiv {
    position: relative;
    left: 1em;
    top: 12em;
    width: 15em;
} */

.btn-outline-secondary {
    border-color: #161637 !important;
}

.search-box-wrapper button {
    outline: none !important;
    background-color: #E6F8FF !important;
    box-shadow: none !important;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.btn-custom-green {
    /* background-color: #D5F3FF; */
    background-color: #B3F3FF;
    color: #161637;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 20px;
    text-transform: uppercase;
}

#logoutDropdownWrapper {
    position: relative !important;
}

#logoutDropdownBtnDiv {
    position: absolute !important;
    left: -6.15em !important;
    top: 2.95em !important;
    width: 240px;
    border-radius: 8px;
    border: none !important;
    /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px; */
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
}

#logoutDropdownBtnDiv::before {
    display: inline-block;
    position: absolute;
    width: 0;
    height: 0;
    margin-left: 7.5em;
    margin-top: -1.2em;
    /* vertical-align: 15em; */
    content: "";
    border-top: 0;
    border-right: 0.7em solid transparent;
    border-bottom: 0.8em solid #fff;
    border-left: 0.7em solid transparent;
}

#menuButtonModal h5 {
    font-weight: 400;
}

#menuButtonModal form {
    padding: 1px;
}

#menuButtonModal form>input,
#menuButtonModal form>div>button {
    /* background-color: #E6F8FF !important; */
    min-height: 2.76em !important;
    border-width: .5px !important;
    border: 1px solid #ddd !important;
}

#menuButtonModal form>div>button {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-right: 1px solid #ddd !important;
    border-top: 1px solid #ddd !important;
    border-bottom: 1px solid #ddd !important;
}

#menuButtonModal form>input {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    /* border-top: 1px solid #ddd !important;
    border-bottom: 1px solid #ddd !important;
    border-left: 1px solid #ddd !important; */
}

#menuButtonModal form>input:focus,
#menuButtonModal form>input:active {
    border: 1px solid #f55a4e;
}

#menuButtonModal form>input::placeholder {
    color: #777;
}

.animate-into-view {
    opacity: 0;
    transform: translateY(8px);
    transition: all .6s cubic-bezier(0.47, 0, 0.745, 0.715);
}

.fadeIn {
    opacity: 1;
    transform: translateY(0px);
}

#menuButtonModal .modal-content {
    border-radius: 12px;
    border-color: #fff !important;
}

#menuButtonModal .list-group-item {
    border: none;
    border-radius: 0;
}

#menuButtonModal .list-group-item.active {
    background-color: #E6F8FF;
    color: #393473;
}

.social-media-link {
    height: 35px;
    width: 35px;
    background-color: #E4F6FD;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


footer {
    min-height: 20vh;
    background-color: #D5F3FF;
}


/* ============ DEFAULTS =========== */

.authenticationForm.modal .form-heading {
    padding: 0 15px 15px 15px;
    color: #3C4857;
    ;
}

.authenticationForm.modal .form-heading .title {
    font-size: 18px;
}

.description {
    font-size: 13px;
    float: left;
    margin-bottom: 15px;
}

.authenticationForm.modal form {
    background: #fff;
    padding: 0 15px 15px 15px;
    position: relative;
    width: 100%;
    border-radius: 8px;
}

.authenticationForm.modal .form-control {
    position: relative;
    z-index: 2;
    margin: 0;
    width: 100%;
    height: 40px;
    display: block;
    border: 1px solid #DDD;
    color: #3C4857;
    will-change: background-position;
    transition: all .3s cubic-bezier(.64, .09, .08, 1);
    background-position: -100%;
    background-size: 100%;
    background-repeat: no-repeat;
    font-size: 14px;
    margin-bottom: 15px;
}

.authenticationForm.modal .form-control:focus {
    border: 1px solid #f55a4e !important;
    box-shadow: none;
    outline: 0 none;
}


/* ============ MODAL =========== */

.authenticationForm .modal-body {
    position: relative;
    padding: 0px;
}

.authenticationForm .modal-header {
    padding: 10px;
    border: none;
}

.authenticationForm .modal-content {
    border-radius: 12px !important;
    border-color: #fff !important;
}

.close {
    color: #3C4857;
    opacity: 0.9;
}


/* ============ LABEL =========== */

.authenticationForm label,
.authenticationForm p {
    color: #3C4857;
    font-weight: 300;
    transition: all .3s cubic-bezier(.64, .09, .08, 1);
    display: inline-block;
    font-size: 12px;
}

.customLinkStyle {
    color: #007bff;
    text-decoration: none;
    transition: all .3s cubic-bezier(.64, .09, .08, 1);
}

.modal-content.for-signup {
    display: none;
    opacity: 0;
}

.customLinkStyle:hover {
    color: #6610f2;
    text-decoration: underline;
}

.authenticationForm p {
    font-size: 14px;
}

.authenticationForm .floating-label {
    transform: translateY(-18px);
    position: absolute
}

.authenticationForm .label-required:before {
    content: '*';
    color: #f55a4e;
    position: absolute;
    margin-left: -15px
}


/* ============ INPUT =========== */

.authenticationForm.modal input[type=email],
.authenticationForm.modal input[type=text],
.authenticationForm.modal textarea,
.authenticationForm.modal input[type=password],
.authenticationForm.modal input[type=tel],
.authenticationForm.modal input[type=number] {
    position: relative;
    z-index: 2;
    margin-bottom: 4px;
    width: 100%;
    display: block;
    border: .5px solid #DDD;
    padding: 15px;
    will-change: background-position;
    transition: all .3s cubic-bezier(.64, .09, .08, 1);
    background-position: -1920px 0;
    background-size: 100%;
    background-repeat: no-repeat;
    color: #3C4857;
    font-size: 13px;
    border-radius: 6px;
}

.authenticationForm input[type=email].input-active,
.authenticationForm input[type=email]:focus,
.authenticationForm input[type=text].input-active,
.authenticationForm input[type=text]:focus,
.authenticationForm textarea.input-active,
.authenticationForm textarea:focus,
.authenticationForm.modal input[type=tel].input-active,
.authenticationForm.modal input[type=tel]:focus,
.authenticationForm input[type=password].input-active,
.authenticationForm input[type=password]:focus,
.authenticationForm input[type=number].input-active,
.authenticationForm input[type=number]:focus {
    background-position: 0 0;
    box-shadow: none;
    outline: 0;
    border: .5px solid #f55a4e;
}

.authenticationForm.modal input[type=email].input-active,
.authenticationForm.modal input[type=email]:focus:after,
.authenticationForm.modal input[type=text].input-active,
.authenticationForm.modal input[type=text]:focus:after,
.authenticationForm.modal textarea.input-active,
.authenticationForm.modal textarea:focus:after,
.authenticationForm.modal input[type=tel].input-active,
.authenticationForm.modal input[type=tel]:focus:active,
.authenticationForm.modal input[type=password].input-active,
.authenticationForm.modal input[type=password]:focus:after,
.authenticationForm.modal input[type=number].input-active,
.authenticationForm.modal input[type=number]:focus:after {
    position: relative;
    z-index: 2;
    margin-bottom: 15px;
    width: 100%;
    display: block;
    border: none;
    padding: 15px 0;
    border-bottom: solid 1px #DDD;
    will-change: background-position;
    transition: all .3s cubic-bezier(.64, .09, .08, 1);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #DDD 96%);
    background-position: -1920px 0;
    background-size: 100%;
    background-repeat: no-repeat;
    color: #000;
    font-size: 14px;
}

.authenticationForm input[type=radio]:after,
.authenticationForm input[type=radio]:before {
    content: '';
    position: absolute;
    transition: all .3s cubic-bezier(.64, .09, .08, 1)
}

.authenticationForm input[type=checkbox] {
    position: relative;
    cursor: pointer;
    top: -2px;
    margin-left: -1px;
    margin: 5px 12px 5px 0px;
}

.authenticationForm input[type=checkbox]:before {
    content: '';
    width: 20px;
    height: 20px;
    border: 1px solid #ddd;
    border-radius: 3px;
    background: #fff;
    position: absolute;
    top: -2px;
    margin-left: -1px;
}

.authenticationForm input[type=checkbox]:after {
    content: '\2713';
    color: #161637;
    background: #f55a4e;
    background: #D5F3FF;
    position: absolute;
    top: -2px;
    margin-left: -1px;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #D5F3FF;
    border-radius: 3px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity .3s cubic-bezier(.64, .09, .08, 1);
    will-change: opacity
}

.authenticationForm .password-reveal-icon {
    position: absolute;
    z-index: 3;
    right: 1.4em;
    top: 2.7em;
    color: #3C4857;
    cursor: pointer;
}

.authenticationForm input[type=checkbox]:checked:after {
    opacity: 1
}

.authenticationForm input[type=radio] {
    position: relative;
    top: 2px;
    left: 2px;
    margin: 0 8px;
    cursor: pointer
}

.authenticationForm input[type=radio]:before {
    background-color: #fff;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #f55a4e;
    display: inline-block;
    top: -5px;
    left: -8px;
    background-image: radial-gradient(circle, #f55a4e 60%, #fff 70%);
    background-size: 0;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    will-change: background-size;
    z-index: 2
}

.authenticationForm input[type=radio]:after {
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%
}

.authenticationForm input[type=radio]:checked:before {
    background-size: 14px 14px
}

.authenticationForm textarea.form-control {
    padding: 10px 15px;
    height: auto;
    margin-bottom: 15px;
}

::placeholder {
    color: #3C4857 !important;
}

.social-login-links {
    font-size: .72em;
    line-height: 140%;
    border-radius: 6px;
    padding: 1em 1.3em;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    /* border: .5px solid #3C4857; */
    border: none;
    transition: all .3s ease-in;
    text-decoration: none !important;
}

.social-login-links.facebook {
   background-color: #4267B2;
}

.social-login-links.facebook:hover {
   background-color: #4240B1;
   color: #fff;
}

.social-login-links.google {
   background-color: #de5246;
}

.social-login-links.google:hover {
   background-color: #DE3346;
   color: #fff;
}


/* ============ FONT AWESOME SOCIAL ICONS =========== */

.authenticationForm .social-line {
    margin: 10px 0;
    display: flex;
    flex: row nowrap;
    justify-content: center;
    align-items: center;
}

.authenticationForm .social-line a {
    font-size: 18px;
    height: 40px;
    width: 40px;
    background-color: #E4F6FD;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}