<div class="p-0 m-0 mx-3 search-box-wrapper position-relative d-none d-md-block">
    <form class="input-group">
        <input type="text" class="form-control border-right-0" placeholder="Search items here" aria-label="Search items here" aria-describedby="button-addon2">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary px-1 border-left-0" type="submit" id="button-addon2">
                <span class="px-2 text-light-brown">
                    <i class="fas fa-search"></i>
                </span>
            </button>
        </div>
    </form>
</div>
<a class="p-0 m-0 position-relative" href=" #">
    <span class="px-0 text-light-brown">
        <i class="fas fa-shopping-cart"></i>
    </span>
    <span class="cart-items-quantity d-flex justify-content-center align-items-center position-absolute
         text-deep-blue">
        <p class="p-0 m-0 text-white" style="font-size: .75em;">6</p>
    </span>
</a>
{% if user.is_authenticated %}
<div id="logoutDropdownWrapper">
    <a class="nav-link active" href="{% url 'sign-out' %}" id="logoutDropdownBtn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="px-2 text-success">
            <i class="fas fa-user-check"></i>
        </span>
    </a>
    <div class="dropdown-menu bg-white" aria-labelledby="logoutDropdownBtn" id="logoutDropdownBtnDiv">
        <div class="card card-profile border-0 py-3 col-12 mx-0">
            <div class="justify-content-center py-0 col-12">
                <div class="py-0 my-0 mx-auto row">
                    <div class="card-profile-image mx-auto col-12 row">
                        <!-- <a href="#">
                            <img src="https://demos.creative-tim.com/argon-dashboard/assets/img/theme/team-4.jpg" class="rounded-circle" width="80px;">
                        </a> -->
                        <a href="#" class="mx-auto">
                            <img src="{{ user.profile.profile_pic.url }}" class="rounded-circle" width="80px;" height="80px" alt="user profile picture">
                        </a>
                    </div>
                </div>
            </div>
            <div class="card-body pt-0 col-12">
                <div class="text-center">
                    <h3 class="pt-2 text-light-brown" style="font-size: 1em; font-weight: 300;">
                        {{ user.first_name }} {{ user.last_name}}
                    </h3>
                    <p class="text-light-brown" style="font-size: .8em;">
                        {{user.email}}
                    </p>
                    <hr class="my-4">
                    <p class="text-light-brown" style="font-size: .8em;">
                        Ryan — the name taken by Melbourne-raised, Brooklyn-based Nick Murphy — writes, performs and records all of his own music
                    </p>
                    <a class="btn btn-custom-green text-light-brown" href="#" id="ajaxLogoutLink" data-ajaxlogouturl="{% url 'logout-with-ajax' %}" style="font-size: .78em; padding: .7em 2em;">
                        Logout
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<button class="p-0 m-0 mx-3" data-toggle="modal" data-target="#LogInModal">
    <span class="px-2 text-light-brown">
        <i class="fas fa-user"></i>
    </span>
</button> {% endif %}
<button class="p-1 rounded-lg m-0 hamburger-wrapper row bg-light" data-toggle="modal" data-target="#menuButtonModal">
    <div class="p-0 m-0">
        <span class="bg-light-brown"></span>
        <span class="bg-light-brown"></span>
        <span class="bg-light-brown"></span>
    </div>
    <div class="p-0 m-0 text-light-brown">
        <p class="p-0 m-0">MENU</p>
    </div>
</button>
<div class="modal fade" id="menuButtonModal" tabindex="-1" role="dialog" aria-labelledby="menuButtonModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header py-2 border-0 m-0 px-2">
                <h5 class="modal-title text-light-brown d-md-none h5-font-style pt-4" id="menuButtonModalTitle">
                    Search For Products
                </h5>
                <h5 class="modal-title text-light-brown d-none d-md-block" id="menuButtonModalTitle">
                    Menu
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body list-group m-0 p-0">
                <form class="input-group bg-white mb-4 d-md-none">
                    <input type="text" class="form-control border-right-0 ml-1 py-3" placeholder="Search items here" aria-label="Search items here" aria-describedby="button-addon">
                    <div class="input-group-append mr-1">
                        <button class="btn btn-outline-primary px-1" type="submit" id="button-addon">
                            <span class="px-2" style="color: #777;">
                                <i class="fas fa-search"></i>
                            </span>
                        </button>
                    </div>
                </form>
                <h5 class="list-group-item list-group-item-action text-light-brown m-0 mb-2 py-0
                        d-md-none h5-font-style">
                    Menu
                </h5>
                <a href="#" class="list-group-item list-group-item-action text-light-brown active">
                    <span class="pr-2 text-primary">
                        <i class="fas fa-home"></i>
                    </span> Home
                </a>
                <a href="#" class="list-group-item list-group-item-action text-light-brown">
                    <span class="pr-2 text-primary">
                        <i class="fab fa-shopify"></i>
                    </span> Products
                </a>
                <a href="#" class="list-group-item list-group-item-action text-light-brown">
                    <span class="pr-2 text-primary">
                        <i class="fas fa-layer-group"></i>
                    </span> Categories
                </a>
                <a href="#" class="list-group-item list-group-item-action text-light-brown">
                    <span class="pr-2 text-primary">
                        <i class="fas fa-envelope"></i>
                    </span> Contact us
                </a>
                <a href="#" class="list-group-item list-group-item-action text-light-brown" tabindex="-1">
                    <span class="pr-2 text-primary">
                        <i class="fas fa-address-card"></i>
                    </span> About us
                </a>
            </div>

            <div class="modal-footer m-0 p-0">
                <a href="#" target="_blank" rel="noopener noreferrer" class="social-media-link">
                    <span class="p-0 text-primary">
                        <i class="fab fa-facebook-f"></i>
                    </span>
                </a>
                <a href="#" target="_blank" rel="noopener noreferrer" class="social-media-link">
                    <span class="p-0 text-primary">
                        <i class="fab fa-twitter"></i>
                    </span>
                </a>
                <a href="#" target="_blank" rel="noopener noreferrer" class="social-media-link">
                    <span class="p-0 text-primary">
                        <i class="fab fa-instagram-square"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade authenticationForm" id="LogInModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true" data-ajaxupdatestatusloginurl="{% url 'update-login-status-with-ajax' %}">
    <div class="modal-dialog modal-dialog-centered mx-auto col-md-4 row">
        <div class="modal-content for-login col-12">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'sign-in' %}" method="POST" id="ajaxLoginForm" data-ajaxloginurl="{% url 'login-with-ajax' %}" novalidate>
                    {% csrf_token %}
                    <!-- Form Title -->
                    <div class="form-heading text-center px-0 py-1 m-0">
                        <h6 class="title py-0 my-0">SIGN IN</h6>
                        <!-- Social Line -->

                        <div class="row col-12 py-2 my-1 mx-0 px-0">
                            <div class="m-0 col-12 col-md-6 p-1 row">
                                <a href="#" class="m-0 social-login-links col-12 shadow">
                                    <span class="p-0 m-0 text-primary pr-1">
                                        <i class="fab fa-facebook-f"></i>
                                    </span> Login with Facebook
                                </a>
                            </div>
                            <div class="m-0 col-12 col-md-6 p-1 row">
                                <a title="Google" href="/social-accounts/google/login/?process=login" class="m-0 social-login-links col-12 shadow">
                                    <span class="p-0 m-0 text-primary pr-1">
                                        <i class="fab fa-google"></i>
                                    </span> Login with Google
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row py-0 my-0" id="ajaxLoginErrorDiv">
                        <div class="col-md-12 text-center pb-2 pt-0 my-0">
                            <span class="error-span text-danger text-center py-0 my-0" style="font-size: .75em;">
                                User name or password is incorrect!
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <span class="text-danger py-0 my-0 ajax-field-validation-error-message">
                                Email field is required!
                            </span>
                            <input type="text" name="username" id="ajaxLoginUsername" class="error-handler" placeholder="Email" required />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <i class="far fa-eye-slash password-reveal-icon" id="ajaxLoginPasswordRevealBtn"> </i>
                            <span class="text-danger py-0 my-0 ajax-field-validation-error-message">
                                Password field is required!
                            </span>
                            <input type="password" name="password" id="ajaxLoginPassword" class="error-handler ajax-login-password" placeholder="Password" required />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 text-left">
                            <input type="checkbox" />
                            <label>Remember Me</label>
                        </div>
                        <div class="col-6 text-right">
                            <label>
                                <a class="customLinkStyle" href="#" data-toggle="modal" data-target="#ForgotModal"
                                    data-dismiss="modal">
                                    Forget Password?
                                </a>
                            </label>
                        </div>
                    </div>
                    <div class="row py-3">
                        <div class="col-md-12 text-center py-0 my-0">
                            <button id="ajaxLoginSubmitBtn" type="submit" class="btn btn-md btn-custom-green p-font-style px-4">
                                Sign In
                            </button>
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-md-12 text-center py-0 my-0">
                            <p class="py-0">
                                Don't have an account?
                                <button class="customLinkStyle" id="showSignUpModalBtn">
                                    Sign up here.
                                </button>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-content for-signup col-12">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">×</span><span class="sr-only">Close</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="{% url 'sign-up' %}" method="POST" id="ajaxSignUpForm" data-ajaxsignupurl="{% url 'signup-with-ajax' %}" novalidate>
                    {% csrf_token %}
                    <!-- Form Title -->
                    <div class="form-heading text-center py-0">
                        <h6 class="title py-0">SIGN UP</h6>
                    </div>
                    <div class="row py-0 my-0" id="ajaxSignUpErrorDiv">
                        <div class="col-md-12 text-center pb-2 pt-0 my-0">
                            <span class="error-span text-danger text-center py-0 my-0" style="font-size: .75em;">
                                This email is taken!
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <span class="text-danger py-0 my-0 ajax-field-validation-error-message">
                                Names field is required!
                            </span>
                            <input type="text" name="first_name" id="ajaxSignUpFirstName" class="error-handler" placeholder="First name" maxlength="50" required />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <span class="text-danger py-0 my-0 ajax-field-validation-error-message">
                                Last name field is required!
                            </span>
                            <input type="text" name="last_name" id="ajaxSignUpLastName" class="error-handler" placeholder="Last name" maxlength="50" required />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <span class="text-danger py-0 my-0 ajax-field-validation-error-message">
                                Email field is required!
                            </span>
                            <input type="text" name="email" id="ajaxSignUpEmail" class="error-handler" placeholder="Email" required />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <span class="text-danger py-0 my-0 ajax-field-validation-error-message">
                                Phone number field is required!
                            </span>
                            <input type="text" name="phone_number" id="ajaxSignUpPhoneNumber" class="error-handler" placeholder="Phone number" required />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <i class="far fa-eye-slash password-reveal-icon" id="ajaxSignUpPasswordRevealBtn"> </i>
                            <span class="text-danger py-0 my-0 ajax-field-validation-error-message">
                                Password field is required!
                            </span>
                            <input type="password" name="password" id="ajaxSignUpPasswordOne" class="error-handler" placeholder="Password" required />
                        </div>
                    </div>
                    <input type="hidden" name="password2" id="ajaxSignUpPasswordTwo" placeholder="Confirm password" />
                    <div class="row py-3">
                        <div class="col-md-12 text-center">
                            <button id="ajaxSignUpSubmitBtn" type="submit" class="btn btn-md btn-custom-green p-font-style px-4 py3">
                                Sign Up
                            </button>
                        </div>
                    </div>
                    <div class="row pb-4 pt-2">
                        <div class="col-md-12 text-center">
                            <p style="color: #3C4857; font-weight: 300; font-size: 14px;">
                                Already have an account?
                                <button type="button" class="customLinkStyle" id="showLoginModalBtn">
                                    Login here.
                                </button>
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>