{% extends "accounts/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <br>
    <br>
    <div class="alert alert-primary" role="alert"
        style="border-radius: 5px; border: .5px solid #DEE2E6 !important; min-height: 70vh; padding-top: 50px; padding-bottom: 50px; display: flex; justify-content: center; background: #fff;">
        <div style="min-width: 32vw; max-width: 380px;">
            <p style="font-weight: 400; color: #5E5E5E; font-size: 105%;">
                Please provide the email address you used to sign-up. We will send a password recovery link to that
                email.
            </p>
            <form method="POST" class="" style=" min-width: 100% !important; padding: 0px; margin: 0px;" novalidate=''>
                {% csrf_token %}
                <fieldset
                    style="border: .5px solid #DEE2E6 !important; border-radius: 5px; padding: 20px 10px 50px 10px;">
                    <legend style="width: auto !important; color: #7E57C2;">Reset Password</legend>
                    {{ form|crispy }}
                    <button type="submit" class="btn btn-info btn-block">Reset Password</button>
                </fieldset>
            </form>
        </div>
    </div>
    <br>
    <br>
</div>

{% endblock %}