{% extends "accounts/base.html" %}

{% block content %}

<div class="container" style="min-height: 70vh;">
    <br>
    <br>
    <div class="alert alert-info" role="alert"
        style="padding-top: 50px; padding-bottom: 50px; display: flex; flex-flow: column nowrap; align-items: center;">
        <div style="display: flex; flex-flow: column nowrap; align-items: center;" class="col-12">
            <p>
                You have successfully reset your password. You can now login with your new password using the button
                below.
            </p>
            <a class="btn btn-info btn-block" href="{% url 'sign-in' %}" role="button" style="max-width: 250px;">Sign
                in</a>
        </div>
    </div>
    <br>
    <br>
</div>

{% endblock %}