{% extends "base.html" %} {% load static %} {% load crispy_forms_tags %} {% block extrametatags %}
<!-- Primary Meta Tags -->
<!-- <title>Find Maths, Science and English Tutors in Nigeria | Brilliant Nigeria</title>
<meta name="title" content="Find Maths, Science and English Tutors in Nigeria | Brilliant Nigeria">
<meta name="description"
    content="We provide access to the best Maths, Chemistry, Biology & English Tutors anywhere in Nigeria. Get a tutor now & pass IGCSE, NECO, WAEC, Checkpoint and SAT easily.">
<meta name="keywords"
    content="Maths Tutor, Chemistry Tutor, Physics Tutor, Biology Tutor, Home Tutor,find a tutor near you, IELTS Tutor in Abuja, Home Teacher, Lesson Teacher, Private Teacher in Lekki, Home tutors in lekki,
Private Teacher in PortHarcourt, Private Teacher in Abuja, Lesson Teacher in Nigeria, Private Maths Teacher,
IELTS Tutor, TOEFL Tutor, ICAN Tutor, IGCSE Tutor, WAEC Tutor, Science Tutor, Cambridge Checkpoint Tutor, Phonic Tutors, Math tutor, maths tutor, english tutor"> -->

<!-- Open Graph / Facebook -->
<!-- <meta property="og:type" content="website">
<meta property="og:url" content="https://brilliant.ng/">
<meta property="og:title" content="Find Maths, Science and English Tutors in Nigeria | Brilliant Nigeria">
<meta property="og:description"
    content="We provide access to the best Maths, Chemistry, Biology & English Tutors anywhere in Nigeria. Get a tutor now & pass IGCSE, NECO, WAEC, Checkpoint and SAT easily.">
<meta property="og:image" content="https://brilliant.ng/static/img/homepage-facebook.jpg"> -->

<!-- Twitter -->
<!-- <meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://brilliant.ng/">
<meta property="twitter:title" content="Find Maths, Science and English Tutors in Nigeria | Brilliant Nigeria">
<meta property="twitter:description"
    content="We provide access to the best Maths, Chemistry, Biology & English Tutors anywhere in Nigeria. Get a tutor now & pass IGCSE, NECO, WAEC, Checkpoint and SAT easily.">
<meta property="twitter:image" content="https://brilliant.ng/static/img/homepage-facebook.jpg"> -->

{% endblock %} {% block extrahead %}
<!-- <link rel="canonical" href="https://brilliant.ng" /> -->
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
<section class="first-section text-white bg-white m-0 py-4 px-2">
    <h1 class="text-dark">This works</h1>
    {% for obj in object_list %}
        <p class="text-dark">{{ obj.name }}</p>
        <p class="text-dark">{{ obj.price }}</p>
        <a href="{{ obj.get_absolute_url }}" class="btn btn-secondary">View Product</a>
    {% endfor %}
</section>
<section class="second-section text-white">

</section>
<section class="third-section text-white">

</section>
{% endblock %} 

{% block extrascripts %}
<script type="module" src="{% static 'js/index.js' %}"></script>
{% endblock %}